body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: auto;
}

header {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgb(88, 147, 255);
    padding: 1px;
    font-size: 30px;
    font-weight: 800;
}

#main_nav {
    text-align: center;
    background-color: rgb(88, 147, 255);
    color: white;
}

ul {
    list-style: none;
    text-align: left;
    display: inline-block;
    padding: 0;
}

li {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    height: 10px;
}


a:visited {
    color: inherit;
    text-decoration: none;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:active {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(175, 174, 174);
    text-decoration: none;
}

.header-about {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #022d50;
    color: white;
    font-weight: 700;
    font-size: 18.1px;
}

.content {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: flex-start; 
    background-color: rgb(79, 97, 119);
    padding-top: 30px;
    padding-bottom: 30px;
}

#main_content,
#main_content_2 {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    border: 2px solid rgb(43, 43, 43);
    padding: 15px;
    margin: 10px;
    float: left;
    text-align: center;
    margin-left: 1.9%;
    border-radius: 9px;
    background-color: white;
    box-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.658);
    width: 85%;
}

#main_content {
    width: 67%;
}

.footer {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
